<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
    <link rel="stylesheet" href="{% static "css/404.css" %}">
</head>
<body>
    <div class='err_img'></div>
    <p>ERROR - PAGE NOT FOUND</a></p>
    <p>Sorry, but the page you looking for could not be found.</p>
    <p>Go back to <a href="http://0.0.0.0:8000">main page</a></p>
</body>
</html>
